# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
ENV/
.env/

# Generated folders (NEVER push)
static/uploads/
static/feature/

# ML / Deep Learning large files
*.h5
*.keras
*.npy

# IDE files
.vscode/
.idea/

# OS junk files
Thumbs.db
.DS_Store


# ignore dataset images
static/img/
static/uploads/
static/feature/